body {
    background-color : white;
    min-width: 320px;
    position: relative;
    height: 100vh;
    padding: 10px;    
}

.footer {
    width: 100%;
    height:30px;
}

img.logo {
    margin: 10px ;
    width: 90px;
    height: 50px;
}

@media screen and (min-width:992px) {
    img.logo {
    }

    div.header {
        text-align: left ;

    }
}