
body {
    background-color: white;
    padding: 0px;
}

div.content {
    background: white ;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 20px ;
}

img.logo {
    visibility: hidden;
}

button.func-btn {
    float: right ;
    margin-top: 4px;
    margin-right:4px;
}

div.card {
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

div.card-header {
    background-color:lightgray;
    width: 100%;
    padding: 0px 16px;
}

div.card-header button.func-btn {
    float: right ;
    margin-top: 4px;
    margin-right:-12px;
}

div.card-header h4 {
    display: inline-block;
}

div.card-body {
    background-color: white ;
    width: 100%;
    padding: 10px;
}

div.card-panel {
    background-color: white ;
    width: 100%;
    padding : 10px;
    border-bottom: 1px solid lightgray;
}

.card-panel h3 {
    margin-top: 4px ;
}

div.brief {
    background: white;
}

div.portrait, div.briefInfo {
    width: 100%;
    text-align: center;
}
img.portrait {
    width:120px;
    height: 120px;
    margin-top: -100px;
    border : 1px solid gray;
    padding: 4px;
    background-color: white;
}


div.briefInfo {
    margin: 0px;
    margin-bottom: 10px;
}

div.briefInfo h2{
    margin-top: 8px;
    margin-bottom: 4px;
}

div.indorse-item {
    margin-bottom: 4px;
}

span.skill-item {
    display: inline;
    padding: 2px 8px 4px 8px;
    background-color: lightgray ;
    border-radius: 8px;
    
}

div.footer {
    background-color: white;
}

div.click_bg {
    border: 2px solid lightblue;
}


@media screen and (min-width:770px) {

    body {
        padding: 10px;
        padding-top: 0px;
    }

    img.logo {
        visibility: visible;
    }
    div.portrait {
        width: 35%;
        max-width: 180px;
        text-align: left;
        height: 120px;
    }

    img.portrait {
        width:120px;
        height: 120px;
        margin-top: -16px;
        margin-left: 16px;
        border : 1px solid gray;
        padding: 4px;
    }

    div.briefInfo {
        width: 60%;
        text-align: left ;
        margin-left: 0px;
        margin-top: -36px ;
    }

    div.card-panel {
        width: calc((100% - 2px)/2);
        margin-right: 1px;
    }
}

@media screen and (min-width:1000px) {
    div.content {
        width: 960px;
        margin-right: auto;
        margin-left: auto;
    }
   
}