
body {
    background-color : #f4f4ef;
    min-width: 400px;
    padding: 0px;
}

div.signin-title {
    margin: 0px 0px;
    padding: 0px 24px;
    padding-bottom: 8px;
    background-color: white ;
    text-align: left;
}

img.logo {
    width: 90px;
    height: 50px;
}

div.signin-body {
    width: 90%;
    margin-left: auto ;
    margin-right: auto ;
    margin-top : 10px;
}

li.signin-tab {
    width:50%; 
    text-align: center;
}

div.err_msg {
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 10px;
    display: none;
}

@media screen and (min-width:768px) {
    div.signin-title {
        padding: 20px 0px;
        text-align: center;
    }

    img.logo {
        width: 180px;
        height: 100px;
    }
    div.signin-body {
        width : 618px;
        margin-top: 40px;
    }
}

@media screen and (min-width:992px) {
    img.logo {
        position:relative;
        width: 180px;
        height: 100px;
    }
}


div.tab-content {
    border-bottom : 1px solid lightgray ;
    border-left : 1px solid lightgray ;
    border-right : 1px solid lightgray ;
    padding: 10px;
    padding-left: 20px;
    background-color: white ;
    width : calc(100% - 2px);
}

div.container {
    width: 100%;
    display: flex ;
    flex-wrap: wrap ;
}

h3.create-title {
    width:100%;
    margin-bottom: 20px;
}


input.form-control {
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width: 768px) {
    input.form-control {
        margin-bottom: 20px;
    }

    input.control-half-width-l, input.control-half-width-r{
        width: calc((100% - 20px) / 2);
    }
    input.control-half-width-l {
        margin-right: 20px;
    }
    div.reg-submit-button {
        margin: 30px auto;
        #margin-bottom: 40px;
    }

    hr {
        margin: 30px 0px;
    }
}

div.reg-submit-button {
    width: 100%;
    margin: 10px auto;
    #margin-bottom: 20px;
}

div.forgot_your_password {
    width: 100%;
    text-align: center ;
}

hr {
    width: 100%;
    margin: 10px 0px;
}

div.other-service-description {
    width: 100%;
    color: #757c81;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 300;
    text-align: center ;
}